version: '3.1'

services:  
  consignment-service:
    build: ./consignment-service
    ports:
      - 50051:50051
    environment: 
      MICRO_ADDRESS: ":50051"
      DB_HOST: "mongodb://datastore:27017"
      MICRO_REGISTRY: "mdns"

  vessel-service:
    build: ./vessel-service
    ports:
      - 50052:50051
    environment: 
      MICRO_ADDRESS: ":50051"
      MICRO_REGISTRY: "mdns"
      DB_HOST: "mongodb://datastore:27017"

  user-service:
    build: ./user-service
    ports:
      - 50053:50051
    environment: 
      MICRO_ADDRESS: ":50051"
      MICRO_REGISTRY: "mdns"
      DB_NAME: "postgres"
      DB_HOST: "database"
      DB_PORT: "5432"
      DB_USER: "postgres"
      DB_PASSWORD: "postgres"
    depends_on:
      - database

  consignment-cli:
    build: ./consignment-cli
    environment:
      MICRO_REGISTRY: "mdns"

  user-cli:
    build: ./user-cli
    environment:
      MICRO_REGISTRY: "mdns"

  datastore:
    image: mongo
    container_name: "datastore"
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ./data/db:/data/db # ensures data persistence between restarting
    ports:
      - 27017
    command: mongod --logpath=/dev/null
      
  database:
    image: postgres
    ports:
      - 5432:5432
    volumes:
      - ./data/postgres:/var/lib/postgresql/data # ensures data persistence between restarting
    environment:
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_USER: "postgres"
